node_modules

# Output
.output
.vercel
/.svelte-kit

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
vite.config.mts.timestamp-*
vite.config.mjs.timestamp-*

# Dependency directories
node_modules/

# IDE related
.idea

# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
.vercel

# OS-specific
.DS_Store

tmp

benchmarking/compare/.results
